@use './variables' as *;

@mixin minScreen($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint #{$breakpoint} not found in $breakpoints.";
  }
}

@mixin typography($size: 1rem, $weight: $fw-normal, $color: $text-color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
