@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $typeface-primary;
  color: $text-color;
  font-size: $fs-normal;
  font-weight: $fw-normal;
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 0.5rem;

    &-thumb {
      border-radius: 0.5rem;
      background-color: $accent-color;
    }
    &-track {
      border-radius: 0.5rem;
      background-color: $title-color;
    }
  }
}

body {
  background-color: $background-color;
}

a {
  display: block;
  text-decoration: none;
  user-select: none;
  -webkit-user-drag: none;
}

button {
  user-select: none;
  -webkit-user-drag: none;
}

img {
  display: block;
  user-select: none;
  -webkit-user-drag: none;
}

ul,
ol {
  list-style: none;
}
