@use './variables' as *;
@use './mixins' as *;

.nav {
  $fs-nav: 1rem;

  .nav__link {
    @include typography($fs-nav, $fw-semibold, $text-color);
    transition: color 0.3s;

    &:hover {
      color: $accent-color
    }
  }

  .nav__button-link {
    @include typography($fs-nav, $fw-semibold, $text-color);
    transition: color 0.3s;

    &.register {
      color: $accent-color;
    }

    &:hover {
      color: $accent-color
    }
  }
}
