* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  color: hsl(210, 24%, 15%);
  font-size: 14px;
  font-weight: 400;
  scroll-behavior: smooth;
}
html ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: hsl(195, 100%, 30%);
}
html ::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: hsl(210, 52%, 20%);
}
@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: hsl(210, 55%, 85%);
}

a {
  display: block;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  white-space: nowrap;
}

button {
  background-color: transparent;
  border-color: transparent;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  white-space: nowrap;
}

img {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

ul,
ol {
  list-style: none;
}

.nav .nav__link {
  font-size: 16px;
  font-weight: 500;
  color: hsl(210, 24%, 15%);
  transition: color 0.3s;
}
.nav .nav__link:hover {
  color: hsl(195, 100%, 30%);
}
.nav .nav__button-link {
  font-size: 16px;
  font-weight: 500;
  color: hsl(210, 24%, 15%);
  transition: color 0.3s;
}
.nav .nav__button-link.register {
  color: hsl(195, 100%, 30%);
}
.nav .nav__button-link:hover {
  color: hsl(195, 100%, 30%);
}

.hero__subtitle {
  font-size: 0.875rem;
  color: hsl(195, 100%, 30%);
  letter-spacing: 0.2em;
}

.hero__title {
  font-family: "Lora", serif;
  font-size: 2rem;
  color: hsl(210, 52%, 20%);
}
@media screen and (min-width: 375px) {
  .hero__title {
    font-size: 2.25rem;
  }
}

.hero__description {
  font-style: italic;
}

.container {
  max-width: 85%;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 80%;
  }
}

.header {
  position: fixed;
  inset: 0 0 auto;
  background-color: hsl(210, 55%, 85%);
  z-index: 99;
  height: 4.5em;
}
.header.shadow {
  box-shadow: 0 1px 16px rgba(24, 51, 78, 0.1);
}

.nav {
  position: relative;
  height: 4.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.75rem;
}
.nav__logo img {
  width: 2.5rem;
}
.nav__logo .logo__name {
  font-size: 1rem;
  font-weight: 500;
  color: hsl(195, 100%, 30%);
}

.nav__menu {
  position: fixed;
  inset: 0 0 auto;
  top: -100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  padding: 4.5em 0 2rem;
  align-items: center;
  transition: top 0.4s;
  background-color: hsl(210, 55%, 85%);
  box-shadow: 0 1px 16px rgba(24, 51, 78, 0.1);
}
.nav__menu.show-menu {
  top: 0;
}
.nav__menu .nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}
.nav__menu .nav__buttons {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}
.nav__menu .nav__buttons .register {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.75em 1.3em;
  border-radius: 0.75em;
  width: -moz-max-content;
  width: max-content;
  border: 2px solid hsl(195, 100%, 30%);
  background-color: rgba(255, 255, 255, 0.5);
  transition: background 0.3s;
}
.nav__menu .nav__buttons .register:hover {
  background-color: hsl(0, 0%, 100%);
}

.nav__drawer {
  padding: 0.25rem;
  display: inline-flex;
  font-size: 2rem;
  color: hsl(210, 52%, 20%);
  cursor: pointer;
}
.nav__drawer.close {
  position: absolute;
  top: 0.875rem;
  right: 1.25rem;
}

@media screen and (min-width: 768px) {
  .nav {
    justify-content: start;
    gap: 2rem;
  }
  .nav__menu {
    position: relative;
    visibility: visible;
    flex-direction: row;
    inset: unset;
    top: unset;
    padding: 0;
    flex: 1;
    box-shadow: none;
    background-color: transparent;
  }
  .nav__menu .nav__list {
    flex-direction: row;
    gap: 2rem;
  }
  .nav__menu .nav__buttons {
    margin-top: 0;
    margin-left: auto;
    flex-direction: row;
  }
  .nav__drawer {
    display: none;
    visibility: hidden;
  }
}
@media screen and (min-width: 768px) {
  .nav .logo__name {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .nav .nav__list {
    gap: 3rem;
  }
}
.main {
  position: relative;
  min-height: 100vh;
}

.hero__section {
  position: relative;
  height: 100vh;
  padding-top: calc(4.5em + 3rem);
  overflow: hidden;
}

.hero__content {
  position: relative;
  max-width: 30rem;
  z-index: 1;
}

.hero__data {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  row-gap: 1.25em;
}

.hero__button {
  margin-top: 1.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.75em 1.3em;
  border-radius: 0.75em;
  width: -moz-max-content;
  width: max-content;
  color: hsl(0, 0%, 100%);
  background: linear-gradient(90deg, hsl(210, 55%, 20%), hsl(192, 62%, 25%));
  box-shadow: 0 12px 24px rgba(24, 51, 78, 0.3);
  transition: 0.3s;
}
.hero__button:hover {
  color: hsl(49, 100%, 56%);
  box-shadow: 0 12px 24px rgba(24, 51, 78, 0.4);
}

.hero__bird-1,
.hero__bird-2 {
  position: absolute;
  width: 3rem;
}

.hero__bird-1 {
  left: -1rem;
  bottom: -6rem;
  rotate: -30deg;
}

.hero__bird-2 {
  right: 0;
  top: 0;
  rotate: -15deg;
}

.hero__images img {
  position: absolute;
  bottom: -1rem;
  left: -1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: -1;
}
.hero__images .hero__images-1 {
  width: 90%;
  left: 0;
}
@media screen and (min-width: 992px) {
  .hero__images img {
    left: -3rem;
  }
  .hero__images .hero__images-1 {
    width: auto;
  }
  .hero__images .hero__images-3 {
    bottom: -4rem;
  }
  .hero__images .hero__images-4 {
    bottom: -7rem;
  }
}/*# sourceMappingURL=main.css.map */